.checked{
    color: #FFAD33;
}
.wraber{
    flex-wrap: nowrap;
    overflow-x: scroll; 
    scrollbar-width: none; 
    scroll-behavior: smooth;

  }
  
  .wraber::-webkit-scrollbar {
    display: none; 
  }

  .moving-container {
    display: flex;
  }
  
  @keyframes scrollCards {
    0% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(calc(-250px*5));
    }
  }
  
  .card-template {
    flex-shrink: 0; 
    margin-right: 10px;
  }
  
  .text-slider {
    position: relative;
    width: 200px; 
    height: 50px; 
    overflow: hidden;
  }
  
  .text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    animation: slideText 4s infinite;
  }
  
  .text:nth-child(2) {
    animation-delay: 2s; 
  }
  
  @keyframes slideText {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    25% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(0);
      opacity: 1;
    }
    75% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  
  .btn-yellow {
    background-color:#FB5B03;
    color: #000000;
  }

  .dic{
     height: "20px";
     border-radius: "10px";
     padding-left: "10px";
     padding-right: "10px";
     padding: "15px" 

  }